<%- include('../layout/header', {title : "Cek Ongkir"}) %>
<form id="pickup" name="pickup" method="post" action="<%= locals.current_path %>">
    <label for="username">Username</label>
    <input class="text" name="username" type="text" value="<%= selected_user.username %>" disabled/><br>
    <label for="email">Email Address</label>
    <input class="text" name="email" type="email" value="<%= selected_user.email %>"/><br>
    <label for="nama_depan">Nama Depan</label>
    <input class="text" name="nama_depan" type="text" value="<%= selected_user.nama_depan %>" disabled/><br>
    <label for="nama_belakang">Nama Belakang</label>
    <input class="text" name="nama_belakang" type="text" value="<%= selected_user.nama_belakang %>" disabled/><br>
    <label for="tipe_user">Tipe Akun</label>
    <select name="tipe_user">
        <% for (i in usertypes) { %>
            <option value="<%= usertypes[i].type_id %>" <% if (usertypes[i].type_id == selected_user.user_type) { %>selected<% } %>><%= usertypes[i].type_desc %></option>
        <% } %>
    </select>
    <input class="btn" type="submit" value="Submit" />
</form>
<%- include('../layout/footer') %>